{% extends 'MyHomePageBundle::base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block navbar %}
    <ul>
        <li class="navItem"><a href="/symfony/web/app_dev.php">Home</a></li>
        <li class="navItem"><a href="/symfony/web/app_dev.php/cv">CV</a></li>
        <li class="navItemSelected"><a href="/symfony/web/app_dev.php/portfolio">Portfolio</a></li>
        <li class="navItem"><a href="/symfony/web/app_dev.php/contact">Contact</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="portBox">
        {% for site in sites %}
            <section>
                <h3>{{ site.name }}</h3>
                <div><a href="{{ site.link }}" target='_blank'><img class="portScreen" src="../bundles/homepage/images/{{ site.path }}"></a></div>
                {% for technology in site.technologies %}
                    <img class="portTech" title="{{ technology.description }}" src="../bundles/homepage/images/{{ technology.description }}.png" />
                {% endfor %}
                <p>{{ site.description }}</p>
            </section>
        {% endfor %}
    </div>
{% endblock %}
